@import "ember-bootstrap/bootstrap";

body {
  background: url("https://i.imgur.com/teQOcX1.jpg?1") no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;
}

.welcome-screen {
  text-align: center;
  color: #FFFFFF;
}

.welcome-text {
  font-size: 30px;
}

.welcome-header {
  font-size: 60px;
}

.pacifico-red {
  font-family: 'Pacifico', cursive;
  color: #E23D57;
}

.pacifico-white {
  font-family: 'Pacifico', cursive;
  color: #FFFFFF;
}

.content-background {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 7px 20px 20px 20px;
}

.table tr {
  font-size: 20px;
}

.brewery-name {
  font-size: 30px;
}

.brewery-data {
  font-size: 20px;
}

a {
  color: inherit;
}
.no-breweries-header {
  font-size: 30px;
}

.home-message {
  font-size: 20px;
}
