<h2>Breweries: </h2>

{{!-- {{#each model as |brewery|}}
<div>
  <h3>
    {{#link-to 'brewery' brewery}}
      {{brewery.name}}
    {{/link-to}}
  </h3>
</div>
{{/each}} --}}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
{{#each model as |brewery|}}
  <tbody>
    <tr>
      {{#link-to 'brewery' brewery}}
        <td>{{brewery.name}}</td>
      {{/link-to}}
      <td>{{brewery.location}}</td>
    </tr>
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> --}}
  </tbody>
  {{/each}}
</table>

<div>
{{#link-to 'breweries.add-brewery'}}<button>Add Brewery</button>{{/link-to}}
{{outlet}}
</div>
