<div class="content-background">
{{#if model.breweries}}
  <h2>Breweries</h2>
  <h4>Please click on the name of the brewery to see more details</h4>
  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
  {{#each model.breweries as |brewery|}}
    <tbody>
      <tr>
        {{#link-to 'brewery' brewery}}
          <td>{{brewery.name}}</td>
        {{/link-to}}
        <td>{{brewery.location}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
  {{else}}
  <h3 class="no-breweries-header">It looks like you currently don't have any breweries.</h3>
  <h4>You can add breweries by clicking on Add Brewery below</h4>
{{/if}}

{{#link-to 'add-brewery'}}<button class="btn btn-primary">Add Brewery</button>{{/link-to}}
{{outlet}}
</div>
