<h1>About</h1>
<p class="home-message"><span class="pacifico-red">Brew</span><span class="pacifico-white">Journal</span> is an application that allows users to keep track of breweries they have visited, list the beers they've tried, and add notes about their experience at each brewery.</p>
